<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Tehila Biton Hobbies </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/GeneralCSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/ProjectsCSS.css') }}">
</head>
  <body>


        <div class="grid-container">
             <a href='/'><button type="submit" class="Rbuttun"> Return to Home Page</button></a>
            <div class="header">

                <h2> {{ name |default('Tehila', false)}}'s Hobbies </h2>
            </div>

            <div class="text1">
                <p>
                    {% if name %}
                        <h3>Hello {{ name}}!</h3>
                    {% else %}
                        <h3>Hello Stranger!</h3>
                    {% endif %}

                    <h3> I'm glad you want to hear more about me </h3>
                </p>
            </div>

            <div class="img2">
                <img src={{url_for('static', filename='IMG/hobbies.png')}} width=400px>
            </div>
            <div class="text2">
                <h3> In my free time, I like to do a lot of things:  </h3>
                    <ul>
                        {% for hobby  in hobbies%}
                            <li><h3>{{ hobby }}</h3></li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="img3">
                <img src={{url_for('static', filename='IMG/bread.jpg')}} width=400px>
            </div>
            <div class="text3">
                {% block other  %}
                    {% include('Baking.html') %}
                 {% endblock %}

            </div>
        </div>
  </body>
</html>