<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search and Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/Contact Me.css') }}">
    <script src={{url_for('static', filename='JS/JS.js') }}></script>

</head>
<body>
    <div class="grid-container">
        <form action="/search-and-registration" method="get">
            <h1> Search </h1>
            <br>
            <label for="name"><b>Name: </b></label>
            <input type="text" placeholder="Enter name"  name="name">

            <input type="submit">
        </form>

        {%  if search %}
            {% for user in users%}
                {% if user.name==username or username==''%}
                    <h3>{{ user.name }}</h3>
                    <h3>{{ user.Email }}</h3>
               {% endif %}
            {% endfor %}
         {% endif %}

         {%  if session.loggedIn %}
                    <h2> Hello, {{ username }} </h2>
         {% else %}
             <form action="/search-and-registration" method="post">
                 <h1> Registration</h1>
                 <label for="username"><b>Name: </b></label>
                 <input type="text" placeholder="Enter your name"  name="username" required>
                 <label for="password"><b>Email: </b></label>
                 <input type="text" placeholder="Enter your password"  name="password" required>
                 <input type="submit">
            </form>
         {% endif %}
    <br>
        <a href='/Log_out' ><button  >Logout</button></a>

     </div>

</body>
</html>