{% extends 'assignment8.html' %}

    {% block other %}
        <h3>Tips for great bread!</h3>

         <h3>
            Get the right kind of ingredients and measure them carefully.
         </h3>
        <h3>
             A basic yeast bread calls for only 4 ingredients: flour, water, yeast and a pinch of salt.
         </h3>
        <h3>
             Seems simple enough but to get off to the best start, make sure you have the right ingredients
         </h3>
        <h3>
             and then measure them properly with a digital kitchen scale
         </h3>


    {% endblock %}