<!doctype html>
<html>
<head>
    <title>Tehila Biton - Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/GeneralCSS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/Contact Me.css') }}">
    <script src={{url_for('static', filename='JS/JSAss10.js') }}></script>


</head>
<body>

    
    <form></form>
        <div class="container">
            {%  if session.loggedIn %}
                <h1> Hello, {{ session.get('username') }}</h1>
            {% else %}
                <h1> Hello, Stranger</h1>
            {% endif %}
            <h1> Have Some Questions?</h1>
            <hr>

            <label for="email"><b>Email: </b></label>
            <input type="text" placeholder="Write your Email" name="email" required>

            <label for="nameU"><b>Name: </b></label>
            <input type="text" placeholder="Write your name"  name="nameU" required>

            <label for="contents"><b>Message:</b></label>
            <br>
            <textarea name="YourQuestions" placeholder="I'd be happy to hear from you! Go ahead, I'm listening" id="YourQuestions" cols="30" rows="10"></textarea>
            <br>
            <a href='/'><button type="submit" class="sendButton" onclick="MessBox()">Send</button></a>
             <a href='/'><button type="submit" class="sendButton"> Return to Home Page</button></a>

        </div>

    </form>

</body>
</html>