<!doctype html>

<html>
    <head>
        <title>Tehila Biton Home </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/GeneralCSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/HomeCSS.css') }}">
        <script src={{url_for('static', filename='JS/JSAss10.js') }}></script>

    </head>
    <body>

        
        <div class="grid-container">
            <div class="textMe">

                {%  if session.loggedIn %}
                    <h1> Hello, {{ session.get('username') }}</h1>
                {% else %}
                    <h1> Hello, Stranger</h1>
                {% endif %}

                <h1> Hi, I'm Tehila Biton</h1>
                <p>
                    Fourth-year B.Sc. student for Industrial Engineering (Information Systems major) at Ben-Gurion University. 
                    <br>
                    Charismatic, reliable, with excellent public speaking and interpersonal skills.
                <p>
                <a href='/Resume'><button type="submit" class="Rbuttun"> Resume </button></a>
                <a href='/Projects'><button type="submit" class="Rbuttun"> Projects </button></a>
                <a href='/ContactMe'><button type="submit" class="Rbuttun"> Let's Talk </button></a>
                <a href='/ContactList'><button type="submit" class="Rbuttun"> Contact List </button></a>

            </div>
            <div class="img">
            <img src={{url_for('static', filename='IMG/Me.jpg')}} alt="ME" width="400px" onload="showDate()">
            <p id="imgDate"></p>
            </div>
            <div class="contact">
                <h1>Stay In Touch</h1>
                <p>052-6913541
                    <hr>
                Biton187@gmail.com</p>
                <hr>
                <a href="https://www.linkedin.com/in/tehila-biton-9666041b0/"></a><img src={{url_for('static', filename='IMG/linkedin.png')}} alt= "linkedin" width="30px" onclick="location.href='https://www.linkedin.com/in/tehila-biton-9666041b0/'"></a>

            </div>
            
        </div>
        
    </body>
</html>