<!doctype html>

<html>
    <head>
        <title>Tehila Biton Projects </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/GeneralCSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/ProjectsCSS.css') }}">
    </head>
    <body>

        
        <div class="grid-container">
             <a href='/'><button type="submit" class="Rbuttun"> Return to Home Page</button></a>
            <div class="header"> 
    
                <h3>  My Main Projects </h3>
               </div>
               <div class="img2">
                   <img src={{url_for('static', filename='IMG/BI2.png')}} alt= "BIP" width=400px >

                </div>
                 <div class="text1">
                     <h3> Business Intelligence  </h3>
                <p>
                    Organization analysis, create DW and reports. 
                    <br>
                    Technologies used: MySql, Talend, Tableau.
                </p>
            </div>
            <div class="img2">
                <img src={{url_for('static', filename='IMG/Liner.jpg')}} width=400px>
            </div>
            <div class="text2">
                <h3> Linear Regression</h3>
                <p>
                    Statistical analysis of databases. 
                    <br>
                    Technology used: R
                </p>
            </div>
            <div class="img3">
                <img src={{url_for('static', filename='IMG/code.jpg')}} width=400px >

            </div>
            <div class="text3">
                <h3> Programming </h3>
                <p>
                    Learn to code optimally,Object-oriented programming.
                    <br>
                    Languages: Java, Python, VB, C##.
                </p>
            </div>
        </div>
        
    </body>
</html>