<!doctype html>

<html>
    <head>
        <title>Tehila Biton Resume </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/GeneralCSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/ResumeCSS.css') }}">
    </head>
    <body>

        
        <div class="grid-container">
            <a href='/'><button type="submit" class="Rbuttun"> Return to Home Page</button></a>
            
            <div class="header"> 
                <h3>  My Resume </h3>
            </div>
            <a href={{ url_for('static', filename= 'Tehila Biton CV.pdf') }} download="Tehila_Biton_CV"><button class= 'CVbuttun' >Download full CV</button></a>

                 <div class="text1">
                     <h2>Education</h2>
                    <h3> 2017 – Present: Ben Gurion university</h3>
                    <p>
                        B.Sc. in industrial engineering (information systems), GPA of 85.
                    </p>
                    <h3> 2017: Psychometric</h3>
                    <p>
                        Multidisciplinary 694.
                    </p>

            </div>

            <div class="text2">
                <h2> Work Experience</h2>
                <h3> 2018: Internship Quality Assurance Tester at HERE Mobility</h3>

                    <ul>
                        <li>
                            Designed and executed manual test plans for new features and functionalities of the SoMo application - a social
                            ride-sharing and ride-hailing mobile application.  
                        </li>
                        <li>
                            Worked with product owners and development teams across regions.
                        </li>
                    </ul>

                <h3> 2017-2018:  Statistical Analyst at Ramat Negev Research and Development</h3>
                <ul>
                    <li>
                        Statistical analysis of scientific data: Exception Detection, calculation of statistical measures, and production of
                        reports and graphs on demand.  
                    </li>
                    <li>
                        Extensive work with Microsoft Excel: Pivot Tables, Charts, Macros, Lookup, and functions.
                    </li>
                </ul>

            </div>
            <div class="text3">
                <h2>Skills & Languages</h2>
                <ul>
                    <li>
                        Programming: Java, Python, C#, SQL, R, PLC, LabVIEW, VB
                    </li>
                    <li>
                        IDEs: Eclipse, Visual Studio, Tableau, Talend, Power BI, Jira
                    </li>
                    <li>
                        Office Tools: MS Project, Word, Excel, PowerPoint
                    </li>
                    <li>
                        Languages: Hebrew - native tongue, English - proficient level
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>