*{
    font-family:  cursive;
}

body {
    background-color:rgba(255, 255, 255, 0.7);
}



.grid-container{
    display: grid;
    grid-template-columns:  auto 400px ;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 70px;
    padding: 20px;
}

.header{
    color: whitesmoke;  
    font-size: 40px;
    font-family:  cursive;
    grid-column: 2 / span 3;
}

.h2{
    text-decoration: underline;
}


.text1 {
    background-color:rgba(255, 255, 255, 0.7);
    grid-column: 2 / span 2;

}


.text2{
    background-color:rgba(255, 255, 255, 0.7);
    grid-column: 2 / span 2;
}



.text3{
    background-color:rgba(255, 255, 255, 0.7);
    grid-column: 2 / span 2;
}

.Rbuttun{

    border: none;
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    border-radius: 100%;
    text-align:  center;
    margin: 7px;
    cursor: pointer;

}

.CVbuttun{
    border: none;
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    border-radius: 100%;
    animation: pulse 4s infinite ;
    text-align:  center;
    margin: 7px;
    cursor: pointer;

}

@keyframes pulse{
    0%,100%{
        background-color: rosybrown;
    }
    50%{
        background-color:  rgb(133, 70, 70);
    }

}
