* {
    box-sizing: border-box;
    color: black;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 700px;
    margin: auto;
}

.container h1{
    background-color:rgba(255, 255, 255, 0.63);
    color: black;
    text-align: center;
}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}
label{
    background: rgba(255, 255, 255, 0.63);
    font-size: 17px;
    
}

::placeholder{
    font-family: cursive;
}
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}



textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}


.sendButton {
    background-color:  rosybrown;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.sendButton:hover {
    opacity: 1;
}

.Rbuttun{
    
    border: none;
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    border-radius: 100%;
    animation: pulse 4s infinite ;
    text-align:  center;
    margin: 10px;
    cursor: pointer;
    justify-items: center;
    opacity: 0.95;

}

.Rbuttun:hover {
    opacity: 1;
}
